n8n/legaldesk-review-fastapi.json
{
  "name": "LegalDesk Review FastAPI Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "legaldesk-review-fastapi",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        160
      ],
      "id": "b8fdabf7-38b7-4d37-92c1-7d980fb0f0a0",
      "name": "Webhook",
      "webhookId": "8a2d0de8-6376-4608-aa39-c95a537781fe"
    },
    {
      "parameters": {
        "jsCode": "const envelope = $input.first().json ?? {};\nconst payload = envelope.body && typeof envelope.body === 'object' ? envelope.body : envelope;\nconst metadata = payload.metadata ?? {};\nconst rawTags = payload.tags ?? metadata.tags ?? [];\nconst tags = Array.isArray(rawTags)\n  ? rawTags.filter((tag) => tag !== null && tag !== undefined && String(tag).trim()).map((tag) => String(tag).trim())\n  : [];\nconst extractedText = String(payload.extractedText ?? payload.text ?? '').trim();\nconst ocrText = String(payload.ocrText ?? '').trim();\nconst rawHint = String(payload.docTypeHint ?? metadata.documentTypeHint ?? '').trim();\nconst hintMap = {\n  NDA: 'nda',\n  Employment: 'employment contract',\n  Lease: 'lease agreement',\n  Service: 'service agreement',\n  Sales: 'sales agreement',\n  Other: 'legal document',\n};\nconst normalizedHint = hintMap[rawHint] ?? (rawHint ? rawHint.toLowerCase().replace(/_/g, ' ') : 'legal document');\nconst fileName = String(payload.fileName ?? metadata.documentName ?? 'uploaded-document');\nconst priority = String(payload.priority ?? metadata.priority ?? 'medium').toLowerCase();\nconst submittedBy = String(payload.submittedBy ?? metadata.submittedBy ?? 'n8n_demo');\nconst sourceSystem = String(payload.sourceSystem ?? metadata.sourceSystem ?? 'n8n');\nconst caseId = String(payload.caseId ?? metadata.caseId ?? `case_${Date.now()}`);\nconst language = String(payload.language ?? 'vi').toLowerCase();\n\nreturn [{\n  json: {\n    caseId,\n    language,\n    extractedText,\n    ocrText,\n    textLength: extractedText.length,\n    metadata: {\n      documentName: fileName,\n      documentTypeHint: normalizedHint,\n      priority,\n      submittedBy,\n      sourceSystem,\n      tags,\n    },\n    _startedAt: Date.now(),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        160
      ],
      "id": "958dd7da-a5d6-4fc4-91cf-a49fdab684c6",
      "name": "Normalize Review Intake"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst extractedText = String(item.extractedText ?? '');\nconst ocrText = String(item.ocrText ?? '');\n\nif (extractedText.length >= 80) {\n  return [{ json: { ...item, ocrFallbackUsed: false, ocrFallbackSource: null } }];\n}\n\nif (ocrText.length >= 80) {\n  return [{\n    json: {\n      ...item,\n      extractedText: ocrText,\n      textLength: ocrText.length,\n      ocrFallbackUsed: true,\n      ocrFallbackSource: 'payload.ocrText',\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...item,\n    _error: 'LOW_TEXT_CONTENT',\n    _errorMessage: `Extracted text too short (${extractedText.length} chars) and no OCR fallback text was provided.`,\n    needsAttention: true,\n    qualityWarning: true,\n    ocrFallbackUsed: false,\n    ocrFallbackSource: null,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        160
      ],
      "id": "d05ef381-905b-4692-a7fd-777e64e226b2",
      "name": "Resolve OCR Fallback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "1f6a3430-2911-47ab-bf6d-75722e5ae02c"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        160
      ],
      "id": "209ba4a2-7b37-4353-b793-f4567e647643",
      "name": "Has Error?"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    success: false,\n    caseId: item.caseId,\n    error: {\n      code: item._error ?? 'WORKFLOW_ERROR',\n      message: item._errorMessage ?? 'The workflow failed before calling FastAPI.',\n    },\n    routeDecision: {\n      queue: 'ocr_manual_queue',\n      reason: 'pre_ai_validation_error',\n      autoEscalated: true,\n    },\n    orchestration: {\n      ocrFallbackUsed: Boolean(item.ocrFallbackUsed),\n      ocrFallbackSource: item.ocrFallbackSource ?? null,\n      textLength: item.textLength ?? 0,\n    },\n    nextStep: 'Provide OCR text or replace the source file with a text-based document.',\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        48
      ],
      "id": "fcb6fd9a-6fcb-4124-86ea-c88710c72394",
      "name": "Build Error Response"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    reviewPayload: {\n      caseId: item.caseId,\n      language: item.language,\n      extractedText: item.extractedText,\n      metadata: item.metadata,\n    },\n    reviewMeta: {\n      ocrFallbackUsed: Boolean(item.ocrFallbackUsed),\n      ocrFallbackSource: item.ocrFallbackSource ?? null,\n      textLength: item.textLength ?? 0,\n      startedAt: item._startedAt ?? Date.now(),\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        272
      ],
      "id": "a2659a16-c6e0-4cb5-9590-aa52b477b850",
      "name": "Build Review Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8080/v1/legal/review",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.reviewPayload }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        272
      ],
      "id": "95fd930a-c4c6-498a-b0db-cf855f9dbfa7",
      "name": "Call Legal Review API"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        272
      ],
      "id": "f7519e80-c3d6-48cf-8c29-abf2ea4e8d4a",
      "name": "Merge Review Context"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst preservedReviewMeta = $('Build Review Payload').first().json.reviewMeta ?? item.reviewMeta ?? {};\nconst review = {\n  caseId: item.caseId,\n  docType: item.docType,\n  confidence: item.confidence,\n  riskScore: item.riskScore,\n  riskLevel: item.riskLevel,\n  riskFlags: item.riskFlags ?? [],\n  extractedFields: item.extractedFields ?? {},\n  recommendedAction: item.recommendedAction,\n  summary: item.summary,\n  needsAttention: Boolean(item.needsAttention),\n  qualityWarning: Boolean(item.qualityWarning),\n  disclaimer: item.disclaimer ?? null,\n  meta: item.meta ?? {},\n};\n\nlet queue = 'normal_review_queue';\nlet reason = 'default';\nif (review.qualityWarning || preservedReviewMeta.ocrFallbackUsed) {\n  queue = 'ocr_quality_queue';\n  reason = 'quality_warning_or_ocr_fallback';\n}\nif (review.confidence < 0.55) {\n  queue = 'manual_quality_queue';\n  reason = 'low_confidence';\n}\nif (review.riskScore >= 70 || review.needsAttention) {\n  queue = 'manual_legal_review_queue';\n  reason = 'high_risk_or_needs_attention';\n}\n\nconst riskLevel = String(review.riskLevel ?? 'medium').toLowerCase();\nconst notificationTemplate = review.riskScore >= 70\n  ? 'legal_review_high_risk'\n  : review.needsAttention\n    ? 'legal_review_attention'\n    : 'legal_review_completed';\nconst notificationPriority = review.riskScore >= 70 ? 'high' : review.riskScore >= 40 ? 'medium' : 'low';\n\nreturn [{\n  json: {\n    success: true,\n    routeDecision: {\n      queue,\n      reason,\n      autoEscalated: queue !== 'normal_review_queue',\n    },\n    review,\n    orchestration: {\n      ocrFallbackUsed: Boolean(preservedReviewMeta.ocrFallbackUsed),\n      ocrFallbackSource: preservedReviewMeta.ocrFallbackSource ?? null,\n      textLength: preservedReviewMeta.textLength ?? null,\n      fastApiBaseUrl: 'http://172.17.0.1:8080',\n    },\n    timelineEvent: {\n      caseId: review.caseId,\n      eventType: 'AI_REVIEW_COMPLETED',\n      status: 'AIReviewed',\n      riskScore: review.riskScore,\n      riskLevel,\n      needsAttention: review.needsAttention,\n      requestId: review.meta.requestId ?? null,\n      source: 'n8n',\n    },\n    notification: {\n      caseId: review.caseId,\n      channel: 'internal',\n      template: notificationTemplate,\n      priority: notificationPriority,\n      context: {\n        riskScore: review.riskScore,\n        riskLevel,\n        summary: review.summary,\n      },\n    },\n    nextStep: queue,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        272
      ],
      "id": "42422e92-1f0a-4c9d-9839-78271fd16c92",
      "name": "Route Review Result"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Review Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Review Intake": {
      "main": [
        [
          {
            "node": "Resolve OCR Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve OCR Fallback": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Review Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Review Payload": {
      "main": [
        [
          {
            "node": "Call Legal Review API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Review Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call Legal Review API": {
      "main": [
        [
          {
            "node": "Merge Review Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Review Context": {
      "main": [
        [
          {
            "node": "Route Review Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}
